@tailwind base;
@tailwind components;
@tailwind utilities;


.fixed-background {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; /* Ajuste o tamanho conforme necessário */
}
